/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --bg-color: #e5e5e5;
  --grid__item: 4;
  --social-icon: #afb1b8;
  --footer-text_color: #ffffff99;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.container {
  min-width: 100vh;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--animation);
}

.menu {
  display: inline-flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
}

.social-icons {
  display: inline-flex;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link:hover .icon, .social-icons__link:focus .icon {
  fill: var(--dark-bg-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  display: flex;
}

.logo--part1 {
  color: var(--accent-color);
}

.logo--part2 {
  color: var(--logo-text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2f303aaa;
  opacity: 1;
  transition: opacity 500ms ease-out 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 530px;
  min-height: 580px;
  padding: 40px 30px;
  border-radius: 4px;
  background-color: var(--light-bg-color);
  transition: transform 500ms ease-in-out 300ms;
}

.is-hidden .modal {
  transform: translate(100%, 100%) scale(0.2);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
}

.modal__close:hover .icon {
  fill: var(--accent-color);
  background-color: transparent;
}

.modal__close .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--logo-text-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* modal button */
.modal__button {
  margin-top: 30px;
}

.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}

.modal-form {
  display: inline-block;
}

.modal-form__field {
  position: relative;
}

.modal-form__item {
  margin-top: 30px;
}

.modal-form__item .icon {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(50%, -50%);
  fill: var(--logo-text-color);
}

.modal-form__item:focus-within .icon {
  outline: none;
  fill: var(--accent-color);
}

.modal-form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -150%);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__input {
  display: inline-flex;
  line-height: 1.167;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px 12px 42px;
}

.modal-form__input:focus::placeholder {
  color: #75757530;
}

.modal-form__input::placeholder {
  font-size: 14px;
  color: #75757590;
}

.modal-form__input:-webkit-autofill, .modal-form__input:-webkit-autofill:hover, .modal-form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: currentColor;
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}

.modal-form__text {
  resize: none;
  padding-left: 16px;
}

.modal-check {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-check__label {
  display: inline-block;
  position: relative;
}

.modal-check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0;
  left: 0;
  transform: translate(-20px, 3px);
}

.modal-check__input:checked + .modal-check__icon {
  background-image: url("../images/icons/form-checkmark.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-check__icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, 3px);
  width: 16px;
  height: 15px;
  background-image: url("../images/icons/form-checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: transparent;
  border-radius: 2px;
}

.modal-check__terms {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
}

.header {
  max-height: 80px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header--line {
  border-bottom: 1px solid #ececec;
}

.header--logo {
  margin-right: 90px;
}

.header-contacts {
  color: var(--main-text-color);
  display: inline-flex;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
}

.header-contacts__link .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  stroke: currentColor;
  transition: fill var(--animation);
}

.header-contacts__link .icon:hover, .header-contacts__link .icon:focus {
  fill: var(--accent-color);
  stroke: currentColor;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hero {
  min-height: 100vh;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.4);
  background-image: url(../images/hero/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  max-width: 700px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.feature {
  padding-bottom: 0;
}

.feature__item {
  padding: 25px 100px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__item,
.feature__icon::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--light-bg-color);
  border-radius: 4px;
}

.feature__view {
  margin-top: 30px;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.feature__text {
  margin-bottom: 0;
}

.gallery__item {
  --grid__item: 3;
  position: relative;
}

.gallery__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.gallery__view {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.team {
  --grid__item: 4;
  font-size: 16px;
  line-height: 1.172;
  text-align: center;
  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team--bg-color {
  background-color: var(--light-bg-color);
}

.team__member {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.clients__item {
  --grid__item: 6;
}

.clients__view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--social-icon);
  box-sizing: border-box;
  transition: border var(--animation);
}

.clients__view .icon {
  width: 88px;
  height: 52px;
  fill: var(--social-icon);
  transition: fill var(--animation);
}

.clients__view:hover, .clients__view:focus {
  border: 1px solid var(--accent-color);
}

.clients__view:hover .icon, .clients__view:focus .icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  --grid__item: 4;
  display: flex;
  align-items: baseline;
}

.footer-list__title {
  margin-bottom: 20px;
}

.footer-contacts__item:not(:last-child) {
  height: 20px;
  margin-bottom: 10px;
}

.footer-contacts--text-color {
  color: var(--footer-text_color);
}

.footer-social__title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.footer-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.footer-form__email {
  margin-right: 10px;
  padding: 16px;
  width: 360px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: var(--dark-bg-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__email:focus {
  outline: none;
  border-color: var(--dark-bg-text-color);
}

.footer-form__title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.footer-form__email:-webkit-autofill,
.footer-form__email:-webkit-autofill:hover,
.footer-form__email:-webkit-autofill:focus {
  --webkit-text-fill-color: currentColor;
  --webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}

.footer-form__email::placeholder {
  font-size: 16px;
  color: var(--footer-text_color);
}

.footer-form__email::placeholder:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-button {
  position: relative;
}

.footer-button .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  margin-right: 28px;
  fill: var(--dark-bg-text-color);
}

.footer-button__text {
  justify-content: space-between;
}

.filter {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.filter__content {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.filter__button {
  width: auto;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  display: flex;
  align-items: start;
  text-align: center;
  color: var(--title-color);
  background: var(--light-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__link:hover,
.filter__link:focus .filter__link:active {
  text-decoration: none;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  --grid__item: 3;
  font-size: 16px;
  line-height: 1.875;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__bg {
  background: var(--dark-bg-text-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow var(--animation);
}

.projects__bg:hover, .projects__bg:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.projects__bg:hover .projects__thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.projects__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: var(--dark-bg-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0 24px;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.projects__bg:hover .projects__overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects__item {
  padding: 20px 24px;
}

.header,
.section__title,
.feature__title,
.team__title {
  color: var(--title-color);
}
/*# sourceMappingURL=style.css.map */