.menu {
  display: inline-flex;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .menu-desktop {
    display: none;
  }
}
