.clients {
}
.clients__item {
  --grid__item: 6;
}
.clients__view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--social-icon);
  box-sizing: border-box;
  transition: border var(--animation);

  .icon {
    width: 88px;
    height: 52px;
    fill: var(--social-icon);
    transition: fill var(--animation);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);

    .icon {
      fill: var(--accent-color);
    }
  }
}
